@font-face {
  font-family: "GalaxyFontL";
  src: url("../public/assets/fonts/SamsungSharpSans.otf");
  font-weight: 300; /* Variación ligera */
  font-style: normal;
}

@font-face {
  font-family: "GalaxyFont";
  src: url("../public/assets/fonts/SamsungSharpSansMd.otf");
  font-weight: 400; /* Variación normal */
  font-style: normal;
}

@font-face {
  font-family: "GalaxyFontB";
  src: url("../public/assets/fonts/SamsungSharpSansBd.ttf");
  font-weight: 700; /* Variación negrita */
  font-style: normal;
}

.light {
  font-family: "GalaxyFontL", sans-serif;
  font-weight: 300; /* Aplica la variación ligera */
}

.normal {
  font-family: "GalaxyFont", sans-serif;
  font-weight: 400; /* Aplica la variación normal */
}

.bold {
  font-family: "GalaxyFontB", sans-serif;
  font-weight: 700; /* Aplica la variación negrita */
}

.MuiFormControlLabel-label {
  font-family: "GalaxyFont", sans-serif;
  font-weight: 400;
}

.MuiInputBase-input::placeholder {
  font-family: "GalaxyFont", sans-serif;
  font-weight: 400; /* Aplica la variación normal */
}

.datagrid-root {
  font-family: "GalaxyFont", sans-serif;
  font-weight: 400;
}

.datagrid-header {
  font-family: "GalaxyFontB", sans-serif;
  font-weight: 700;
}

.datagrid-footer {
  font-family: "GalaxyFont", sans-serif;
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  font-weight: 700;
}

.even-row {
  background-color: #d3d3d3;
}

.odd-row {
  background-color: #ffffff;
}